#heading{
    color: rgba(252, 42, 5, 0.699);
    text-align: center;
}

#text{
    color: #ff7b54;
    font-weight: bold;
    text-align: center;
}


#canvas{
    width : 400px;
    height: 200px;
    position: relative;
    background-color: tomato;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

#ball{
    width: 20px;
    height: 20px;
    background-color: wheat;
    border-radius: 10px;
    margin: 0px 190px; 
    position: absolute;   
}